@charset "UTF-8";

body {
  color: #454545;
  line-height: 130%;
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 140%;
}

a {
  text-decoration: none;
}

a:link {
  color: #256fba;
}

a:visited {
  color: #458fda;
}

.entry a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

p {
  margin: 10px 0;
}

#container {
  width: 700px;
  margin: 0 auto;
}

#header {
  display: block;
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 80px;
}

#footer {
  height: 80px;
  margin-top: 100px;
  text-align: center;
  color: #888;
}

h2 {
  margin: 55px 0 20px 0;
  line-height: 130%;
}

h2 a {
  color: #454545 !important;
}

.section {
  clear: both;
}

a.icon {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}

#about {
  text-align: center;
}

#about .name {
  font-size: 110%;
}

#about .name .english {
  color: #bbb;
  font-size: 80%;
  font-style: italic;
}

#about p {
  font-size: 90%;
  color: #666;
}

#service-links {
  margin-top: 40px;
  text-align: center;
}

#service-links ul {
  padding: 0;
}

#service-links ul li {
  display: inline-block;
  width: 50px;
  text-align: center;
}

#service-links ul li img {
  height: 40px;
}

#works dl {
  margin-left: 0.5em;
}

#works dl dt {
  font-size: 120%;
  height: 35px;
}

#works dl dt a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
}

#works dl dd {
  color: #888;
}

#works .repos-list {
  margin-top: 40px;
}

#works .screenshot-list img {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  height: auto;
  max-width: 620;
}
#works .screenshot-list dd {
  margin-top: 10px;
}

#works .starred {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: -3px;
}

#works .starred img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  opacity: 0.4;
}

#works .starred-count {
  display: inline-block;
  position: relative;
  min-width: 25px;
  margin-left: 10px;
  padding: 0 4px;
  text-align: center;
  font-size: 65%;
  color: #aaa;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 3px;
}

#works .starred-count:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -6px;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid #d0d0d0;
  border-left: 2px solid #d0d0d0;
  background: #fff;
}

#donation {
  padding: 10px 20px;
  min-height: 70px;
  border-left: 4px solid rgb(248, 202, 0);
  font-size: 80%;
}
#donation h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 110%;
  color: rgb(248, 202, 0);
}
#donation .message {
  margin: 0;
  color: #666;
}
#donation .gittip-widget {
  margin-top: 8px;
  margin-left: 5px;
  float: right;
}

.feed {
  min-height: 418px;
}
.feed .entry {
  margin-bottom: 20px;
}

.feed .entry .entry-date {
  font-size: 75%;
  color: #aaa;
}
.feed .entry .entry-title {
  white-space: nowrap;
}
.feed .entry .entry-title a {
  display: inline-block;
  max-width: 85%;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feed .entry .entry-body {
  margin-left: 0.5em;
  height: 3em;
  overflow: hidden;
  color: #888;
  font-size: 90%;
}
.feed .entry .entry-bookmark-count {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  top: 2px;
}
.feed.loaded .loading {
  display: none;
}

@media (max-width: 767px) {
  #container {
    width: 90%;
  }

  #header {
    padding-top: 40px;
  }

  #service-links {
    margin-top: 30px;
  }

  h2 {
    margin: 30px 0 10px 0;
  }

  .feed .entry .entry-title a {
    max-width: 80%;
  }
  .feed .entry .entry-body {
    max-height: 4em;
    overflow: hidden;
    margin-left: 0;
    position: relative;
  }
  .feed .entry .entry-body:after {
    content: '…';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.1em;
    background: #fff;
  }

  #donation {
    padding: 5px 10px 10px;
  }
  #donation .message {
    font-size: 80%;
    line-height: 130%;
  }

  #works dl {
    margin-left: 0;
  }

  #works dl dd {
    margin-left: 0.5em;
  }

  #works .starred {
    margin-left: 8px;
  }

  #works .repos-list {
    margin-top: 20px;
  }
}
